# ================================
# JUPYTER
# ================================
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# ================================
# DONNÉES — ne jamais versionner
# ================================
datasets/
*.csv